
body[data-darkmode=on] {
	background-color: #262626;
	color: #F7F7F7 !important;
}
/* Darkmode Toggle */
body[data-darkmode=on] .darkmode>.inner {
	background-color: rgba(255, 255, 255, 0.25);
}

.darkmode>.inner {
	position: relative;
	display: inline-flex;
	padding: 5px;
	border-radius: 1.5em;
	background-color: rgba(0, 0, 0, 0.1);
}

.darkmode label {
	cursor: pointer;
}

.darkmode label:first-of-type {
	padding: 5px 5px 5px 10px;
	border-radius: 50% 0 0 50%;
}

.darkmode label:last-of-type {
	padding: 5px 10px 5px 5px;
	border-radius: 0 50% 50% 0;
}

.darkmode i {
	font-size: 1.5em;
	color: #aaa;
}

.darkmode input[type=radio] {
	display: none;
}

.darkmode input[type=radio]:checked+label>i {
	color: #fff;
	transition: all 0.35s ease-in-out;
}

.darkmode .darkmode-bg {
	width: 39px;
	height: 34px;
	position: absolute;
	left: 5px;
	border-radius: 50px 15px 15px 50px;
	z-index: -1;
	transition: all 0.35s ease-in-out;
	background-color: #03a9f4;
}

#toggle-radio-dark:checked ~ .darkmode-bg {
	border-radius: 15px 50px 50px 15px;
	top: 5px;
	left: 44px;
}

/* 다크모드 css */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrap {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body[data-darkmode=on] {
	background-color: #262626;
	color: #F7F7F7;
}
/* Darkmode Toggle */
body[data-darkmode=on] .darkmode>.inner {
	background-color: rgba(255, 255, 255, 0.25);
}

body[data-darkmode=on] .section-bg {
	background: none;
}

body[data-darkmode=on] #header_top{
	background-color: #262626;
	color: #F7F7F7;
}

body[data-darkmode=on] #header_top a{
	color: #F7F7F7;
}

body[data-darkmode=on] #header {
	background-color: #262626;
	color: #F7F7F7;
}

body[data-darkmode=on] #header a{
	color: #F7F7F7;
}

body[data-darkmode=on] #footer {
	background-color: #262626;
	color: #F7F7F7;
}

body[data-darkmode=on] #hero h1 {
	color: #F7F7F7;
}

body[data-darkmode=on] #portfolio-flters {
	background-color: #262626;
}

body[data-darkmode=on] #portfolio-flters a{
	color: #F7F7F7;
}

.darkmode>.inner {
	position: relative;
	display: inline-flex;
	padding: 5px;
	border-radius: 1.5em;
	background-color: rgba(0, 0, 0, 0.1);
}

.darkmode label {
	cursor: pointer;
}

.darkmode label:first-of-type {
	padding: 5px 5px 5px 10px;
	border-radius: 50% 0 0 50%;
}

.darkmode label:last-of-type {
	padding: 5px 10px 5px 5px;
	border-radius: 0 50% 50% 0;
}

.darkmode i {
	font-size: 1.5em;
	color: #aaa;
}

.darkmode input[type=radio] {
	display: none;
}

.darkmode input[type=radio]:checked+label>i {
	color: #fff;
	transition: all 0.35s ease-in-out;
}

.darkmode .darkmode-bg {
	width: 39px;
	height: 34px;
	position: absolute;
	left: 5px;
	border-radius: 50px 15px 15px 50px;
	z-index: -1;
	transition: all 0.35s ease-in-out;
	background-color: #03a9f4;
}

#toggle-radio-dark:checked ~ .darkmode-bg {
	border-radius: 15px 50px 50px 15px;
	top: 5px;
	left: 44px;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #5a656e;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-family: "Playfair Display", serif;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 23px;
	bottom: 100px;
	z-index: 9999;
	background: #FF873D;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 60px;
	color: #fff;
	line-height: 0;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Header_top
--------------------------------------------------------------*/
#header_top {
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	height: 40px;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
	display: flex;
}

#header {
	background: #fff;
	z-index: 997;
}

#header_top .logo img {
	padding: 0;
	margin: 0;
	max-height: 30px;
}

#header_top form {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
}

#header_top .logo input {
	background-color: #f0eded;
	border: none;
	height: 30px;
	border-radius: 20px;
	margin-left: 20px;
	width: 210px;
	outline: none;
	padding: 10px 20px;
	font-size: 10px;
}

#header_top .logo button {
	background-color: inherit;
	position: absolute;
	right: 10px;
	border: none;
	outline: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a, .navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	margin: 0 20px;
	font-size: 14px;
	color: #2c4964;
	white-space: nowrap;
	transition: 0.3s;
}

.navbar .small, .navbar .small:focus {
	font-size: 10px;
	padding: 0;
	margin: 0 10px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a
	{
	color: #FF873D;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #2c4964;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
	color: #fff;
}

@media ( max-width : 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	#header_top .navbar ul {
		display: none;
		flex-direction: column;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(13, 21, 29, 0.6);
	transition: 0.3s;
	z-index: 998;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

#header_top .navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	border-radius: 10px;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #2c4964;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
	margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 30vh;
	padding: 0 15px;
}

#hero h1 {
	margin: 0 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #000;
}

@media ( min-width : 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
}

.section-bg {
	background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}

.section-title {
	padding-bottom: 20px;
}

/*--------------------------------------------------------------
# main
--------------------------------------------------------------*/
#main_img {
	width: 100%;
	height: 55vh;
	background: url("../img/7418159.jpg") center;
	background-size: cover;
	padding: 0 15px;
}

.main_list {
	display: flex;
	padding: 10px 0;
}

.main_list div {
	width: 33%;
	margin: 40px;
	flex-grow: 1;
	height: 25vh;
}

.main_list img {
	width: 100%;
	max-height: 100%;
	height: 100%;
}

.main_list div:nth-child(1) {
	margin-left: 160px;
}

.main_list div:nth-child(3) {
	margin-right: 160px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
	margin-bottom: 30px;
}

.portfolio #portfolio-flters {
	padding: 0;
	margin: 0 auto 35px auto;
	list-style: none;
	text-align: center;
	background: #fff;
	border-radius: 50px;
	padding: 2px 15px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
}

.portfolio #portfolio-flters li {
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px 8px 15px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: #5a656e;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active
	{
	color: #FF873D;
}

.portfolio #portfolio-flters li:last-child {
	margin-right: 0;
}

.portfolio .portfolio-wrap {
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.portfolio .portfolio-wrap::before {
	content: "";
	background: rgba(44, 73, 100, 0.6);
	position: absolute;
	left: 30px;
	right: 30px;
	top: 30px;
	bottom: 30px;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
	opacity: 0;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 3;
	transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
}

.portfolio .portfolio-wrap .portfolio-links {
	opacity: 0;
	left: 0;
	right: 0;
	bottom: 10%;
	text-align: center;
	z-index: 3;
	position: absolute;
	transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
	color: #fff;
	margin: 0 2px;
	font-size: 28px;
	display: inline-block;
	transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
	color: #e684ae;
}

.portfolio .portfolio-wrap:hover::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
	opacity: 1;
	top: calc(50% - 48px);
}

.portfolio .portfolio-wrap:hover .portfolio-links {
	opacity: 1;
	bottom: calc(50% - 50px);
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
	padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
	width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet
	{
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #d43076;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active
	{
	background-color: #d43076;
}

.portfolio-details .portfolio-info {
	padding: 30px;
	box-shadow: 0px 0 30px rgba(44, 73, 100, 0.08);
}

.portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
	margin-top: 10px;
}

.portfolio-details .portfolio-description {
	padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
	padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
	padding: 20px 240px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact_info {
	font-size: 13px;
}

@media ( max-width : 991px) {
	.contact {
		flex-direction: column;
		text-align: center;
	}
	.contact_info {
		margin-top: 30px;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #fff;
	padding: 24px 0;
	font-size: 14px;
	box-shadow: 0px 0 20px 0 rgba(0, 0, 0, 0.12);
}

#footer .copyright {
	text-align: center;
}

#footer .credits {
	padding-top: 8px;
	text-align: center;
	font-size: 13px;
}