<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.group.camping.board.service.BoardMapper">
	
	<select id="boardAll"
		resultType="co.group.camping.board.service.BoardVO">
		select * from(   select rownum  rn,a.* from(

            SELECT * FROM board
            order by board_wdate DESC
            
 )  a   )where rn between #{first}  and #{last} 
	</select>
	<!-- 제품 페이지 번호 정하는 곳(..?) -->
	<select id="listPage" resultType="int">
		SELECT COUNT(*)
		FROM product
	</select>
	<select id="boardSelectList"
			resultType="co.group.camping.board.service.BoardVO">
		select * from(   select rownum  rn,a.* from(

            SELECT * FROM board
            WHERE board_kate= '공지사항'
            ORDER BY board_id DESC
            
 )  a   )WHERE rn BETWEEN #{first}  and #{last} 
	</select>
	<select id="boardSelectQna"
		resultType="co.group.camping.board.service.BoardVO">
		select * from(   select rownum  rn,a.* from(

            SELECT * FROM board
            WHERE board_kate= '문의사항'
            ORDER by board_wdate DESC
            
 )  a   )where rn between #{first}  and #{last} 
	</select>
	<select id="boardSelectReview"
		resultType="co.group.camping.board.service.BoardVO">
		SELECT * FROM board 
		WHERE board_kate = '구매후기' 
		ORDER BY board_id	
	</select>
	<select id="boardSelect"
		parameterType="co.group.camping.board.service.BoardVO"
		resultType="co.group.camping.board.service.BoardVO">
		SELECT * FROM board
		WHERE board_id = #{boardId}
	</select>
	<update id="boardHit"
	parameterType="co.group.camping.board.service.BoardVO">
		UPDATE board SET board_hit = board_hit + 1 
		WHERE board_id = #{boardId}
	</update>
	<insert id="boardInsert"
		parameterType="co.group.camping.board.service.BoardVO">
		INSERT INTO board
		(board_id, 
		board_kate, 
		member_id, 
		board_title,
		board_subject, 
		board_wdate,
		board_hit)
		VALUES((select max(board_id) + 1
		from board),#{boardKate},#{memberId},#{boardTitle},#{boardSubject},sysdate,0)
	</insert>
	<update id="boardUpdate"
		parameterType="co.group.camping.board.service.BoardVO">
		UPDATE board
		<set>
			<if test="memberId != null">MEMBER_ID = #{memberId},</if>
			<if test="boardKate != null">BOARD_KATE = #{boardKate},</if>
			<if test="boardTitle != null">BOARD_TITLE = #{boardTitle},</if>
		<!-- 	<if test="boardWdate != null">BOARD_WDATE = sysdate,</if> -->
			<if test="boardSubject != null">BOARD_SUBJECT = #{boardSubject}</if>
		</set>
		WHERE board_id = #{boardId}
	</update>
	<delete id="boardDelete"
		parameterType="co.group.camping.board.service.BoardVO">
		DELETE FROM board
		WHERE board_id = #{boardId}
	</delete>
	
	<select id="boardSearch" 
		resultType="co.group.camping.board.service.BoardVO"
		parameterType="co.group.camping.board.service.BoardVO">
				
		SELECT * FROM(   SELECT rownum  rn,a.* from(

             SELECT * FROM board 
             <if test= 'search != null'>
             
			<if test='kate eq "title"'>
			WHERE board_title  like '%'||#{search}||'%' 	<!--||나 CONCAT은 하나만 사용할 것!!  -->
			</if>
			<if test="kate.equals('subject')">
			WHERE board_subject like CONCAT('%',#{search},'%')
			</if>
			<if test='kate eq "writer"'>
			WHERE member_id like '%${search}%'
			</if>
			</if>
 )  a   )WHERE rn BETWEEN #{first}  and #{last} 
		
	</select> 
	
	
</mapper>
