<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="co.group.camping.delivery.service.DeliveryMapper">
	<select id="deliverySelectList"
		parameterType="co.group.camping.delivery.service.DeliveryVO"
		resultType="map">
		SELECT DELIVERY_ID, DELIVERY_DATE, DELIVERY_CHECK,
		d.PRODUCT_ID, MEMBER_ID, p.PRODUCT_NAME, p.PRODUCT_PRICE
		FROM delivery
		d join product p
		ON(d.product_id = p.product_id)
		WHERE d.member_id =
		#{memberId} ORDER BY delivery_date DESC
	</select>
	<select id="deliveryResearch" resultType="map"
		parameterType="co.group.camping.delivery.service.DeliveryVO">
		SELECT DELIVERY_ID, DELIVERY_DATE, DELIVERY_CHECK,
		d.PRODUCT_ID,
		d.MEMBER_ID, p.product_name, p.PRODUCT_PRICE,
		m.member_name
		FROM delivery d join product p ON(d.product_id =
		p.product_id)
		join member m ON(d.member_id = m.member_id)
		WHERE
		DELIVERY_DATE BETWEEN
		#{startDate} AND #{endDate}+1 AND d.member_id =
		#{memberId}
	</select>
	<select id="deliverySelect" resultType="map"
		parameterType="co.group.camping.delivery.service.DeliveryVO">
		SELECT DELIVERY_ID, DELIVERY_DATE, DELIVERY_CHECK,
		d.PRODUCT_ID,
		d.MEMBER_ID, p.product_name, p.PRODUCT_PRICE,
		m.member_name
		FROM FROM delivery d join product p ON(d.product_id =
		p.product_id)
		join member m ON(d.member_id = m.member_id)
		WHERE
		delivery_id = #{deliveryId}
	</select>
	<insert id="deliveryInsert"
		parameterType="co.group.camping.delivery.service.DeliveryVO">
		INSERT INTO DELIVERY VALUES((SELECT NVL(MAX(DELIVERY_ID), 0) + 1 FROM
		DELIVERY),
		SYSDATE,'N',#{productId},#{memberId})
	</insert>
	<insert id="allPurchase">
	</insert>
	<update id="deliveryUpdate">
	</update>
	<delete id="deliveryDelete">
	</delete>
</mapper>