<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- java vo 와 db column명 매핑, 그외 여러가지 설정 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- database 환경설정 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"	value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@192.168.0.35:1521:xe" />
				<property name="username" value="camping" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>
	<!-- sql mapper를 등록하는 곳 -->
	<mappers>
		<package name="co.group.camping"/>
	</mappers>
</configuration>